---
- name: Configure proxy settings for linux (/etc/environment)
  blockinfile:
    dest: /etc/environment
    create: yes
    block: |
      {% if http_proxy is defined %}
      http_proxy="{{ http_proxy }}"
      HTTP_PROXY="{{ http_proxy }}"
      {% endif %}
      {% if https_proxy is defined %}
      https_proxy="{{ https_proxy }}"
      HTTPS_PROXY="{{ https_proxy }}"
      {% endif %}
      {% if ftp_proxy is defined %}
      ftp_proxy="{{ ftp_proxy }}"
      FTP_PROXY="{{ ftp_proxy }}"
      {% endif %}
      {% if no_proxy is defined %}
      no_proxy="{{ no_proxy }}"
      NO_PROXY="{{ no_proxy }}"
      {% endif %}
  become: true

- name: Configure proxy settings for linux (/etc/profile.d/proxy.sh)
  template:
    src: proxy.sh.j2
    dest: /etc/profile.d/proxy.sh
  become: true

- name: Configure proxy settings for yum
  lineinfile:
    dest: /etc/yum.conf
    regexp: "^proxy="
    line: "proxy={{ yum_proxy }}"
  become: true
  when: ansible_pkg_mgr == 'yum' and yum_proxy is defined

- name: Configure proxy_username for yum
  lineinfile:
    dest: /etc/yum.conf
    regexp: "^proxy_username="
    line: "proxy_username={{ yum_proxy_username }}"
  become: true
  when: ansible_pkg_mgr == 'yum' and yum_proxy_username is defined

- name: Configure proxy_password for yum
  lineinfile:
    dest: /etc/yum.conf
    regexp: "^proxy_password="
    line: "proxy_password={{ yum_proxy_password }}"
  become: true
  when: ansible_pkg_mgr == 'yum' and yum_proxy_password is defined

- name: Configure proxy settings for apt-get/aptitude
  template:
    src: 01proxy.j2
    dest: /etc/apt/apt.conf.d/01proxy
  become: true
  when: ansible_pkg_mgr == 'apt'
