---
- name: Add hosts entries to %windir%\system32\drivers\etc\hosts
  win_hosts:
    ip_address: "{{ host['ip_address'] }}"
    canonical_name: "{{ host['canonical_name'] }}"
    aliases: "{{ host['aliases'] | default(omit) }}"
    state: present
  with_items: "{{ hosts_entries }}"
  loop_control:
    loop_var: host
